/* Banner.css */

.banner {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.banner img {
  width: 80%;
  height: auto;
  display: block;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
  .banner img {
    max-width: 100%;
    height: auto;
  }
}
