.cart-item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;

}

.my-cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

#my-cart {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-cart-page button {
    background-color: #cdb4db;
    color: white;
    padding: 8px 16px;
    margin-bottom: 0.8rem;
    margin-left: 1.2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 16px;
    height: 2.6rem;
  }
  
.my-cart-page button:hover {
background-color: #ffafcc;
}

#checkout-button:hover {
    background-color: green;
}

#cart-image-icon {
    width: 7rem;
}

#total-cost{
    font-size: 1.3rem;
}

.product-in-cart > li {
    display: flex;
    align-items: center;
}

.checkout-or-continue-shopping {
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty-cart {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;

}