.footer {
    width: 100%;
    background: black; 
    height: 5%;
    margin-top: 8%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-container p {
    color: white;
    cursor: pointer;
}

.footer-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact-us {
    margin-right: 1rem;
}

