.header-wrapper {
    position: sticky;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  header {
    /* background-color: #ccd5ae; */
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-left: 5%;
  }

  .nav {
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
 
  ul li {
    margin-right: 20px;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  ul a:hover {
    font-size: 1.1rem;
  }

  ul li:hover {
    color: #a2d2ff;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
  }

  .search-icon input {
      padding-left: 2%;
      margin-right: 0.4rem;
      border-radius: 18px;
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  
  .search-icon:hover {
    cursor: pointer;
  }


  #logout-button {
    border-radius: 16px;
    height: 1.6rem;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 1.2rem;
  }

  #logout-button:hover {
    cursor: pointer;
    font-size: 1.1rem;

  }
  
/* Hamburger menu icon styles */
.menu-icon {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Adjust this based on your design */
    left: 0;
    width: 100%;
    background-color: #fff; /* Add your background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add your box shadow */
  }

  .nav.open {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}




