.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.login label {
    color: black;
}

#signup-here {
    text-decoration: underline;
    color: black;
}

#signup-here:hover {
    color: green;
}

.login input {
    height: 1.4rem;
    width: 30rem;
    border-radius: 16px;
    margin-bottom: 0.4rem;
    margin-left: 1.2rem;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.login button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button {
background-color: #cdb4db;
color: white;
padding: 8px 16px;
margin-bottom: 0.5rem;
margin-left: 6px;
margin-top: 0.8rem;
border: none;
cursor: pointer;
font-size: 1rem;
border-radius: 16px;
height: 2.8rem;

}

.login button:hover {
background-color: green;
}

#login-to-tapioca {
    font-size: 2.4rem;
}
#login-to-tapioca:hover{
    color: #ffafcc;

}