.product-page h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  /* margin-top: 3%; */
  /* color: #bb3e03; */
  color: black;
}

.product-page p {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 0%;
}

.hero-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(91, 88, 88);
  border-radius: 20px;
  border-width: 80%;
  margin-top: 15rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-style: inset;
  margin-top: 3%;
}

.title-options {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: black;
    margin-top: 4%;
  }
  .title-options:hover {
    color: rgb(104, 38, 119);
  }
  
  #tag-line {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
  
  #tag-line:hover {
    color: #bc6c25;
  }

  