.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  .product {
    border: 2px solid #ddd;
    border-radius: 16px;
    padding: 3.5rem;
    text-align: center;
    height: 30rem;
    margin: 5%;
  }

  .product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  
  .product h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .product p {
    margin-bottom: 8px;
  }
  
  .product button {
    background-color: #cdb4db;
    color: white;
    padding: 8px 16px;
    margin-bottom: 0.8rem;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 16px;
    height: 2.7rem;
    display: flex;
    align-items: center;
  }
  
  .product button:hover {
    background-color: #ffafcc;
  }

  .cart-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }